.banner {
  color: white;
  object-fit: contain;
  height: 450px;
}
.banner-content {
  color: white;
  height: 190px;
  margin-left: 30px;
  padding-top: 110px;
  /* background-color: aquamarine; */
}
.banner_description {
  margin-top: -16px;
  font-size: 14px;
  font-weight: 400;
  height: 80px;
  line-height: 1.5rem;
  max-width: 360px;
  padding-top: 1rem;
  width: 45rem;
}
.banner-buttons {
  margin-top: -26px;
}
.banner-button {
  margin-right: 12px;
  height: 30px;
  width: 60px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu;
  font-size: 16px;
  border-radius: 6px;
  border: 8px;
  font: bold;
}
.banner-button:hover {
  background-color: black;
  color: white;
  scale: 1;
}
.banner-button-1:hover {
  background-color: black;
  color: white;
  scale: 1.1;
}
.banner-button-1 {
  margin-right: 12px;
  font: bold;
  height: 30px;
  width: 100px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu;
  font-size: 16px;
  border-radius: 6px;
  border: 8px;
}
.bannerheading {
  font-size: 48px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu;
}
.banner__fadeBottom {
  margin-left: -30px;
  margin-top: 8px;
  height: 7.5rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
